<a href="<%= @featured_trip.url %>" target="_blank">
  <div>
    <%= @featured_trip.destination.downcase %> <%= "#{@featured_trip.temperature}&deg;F" %>
  </div>
  <div style="margin-top: 2px;">
    trinidad and tobago
  </div>
  <div style="margin-top: 2px;">
    <%= "$#{@featured_trip.price}" %>
    <%= @featured_trip.departure_month.downcase %> <%= @featured_trip.departure_day %>-<%= @featured_trip.arrival_day %>
  </div>
</a>
