<a href="<%= @featured_trip.url %>" target="_blank">
  <div>
    <span>
      <%= @featured_trip.destination.downcase %>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span>
      <%= "#{@featured_trip.temperature}&deg;F" %>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span>
      <%= "$#{@featured_trip.price}" %>
    </span>
    <span>
      <%= @featured_trip.departure_month.downcase %> <%= @featured_trip.departure_day %>-<%= @featured_trip.arrival_day %>
    </span>
  </div>
</a>
