<%
  @selected_trip = OpenStruct.new(
    destination: 'Saint Thomas',
    temperature: 85,
    price: 324,
    departure_month: 'December',
    departure_day: 13,
    arrival_day: 17
  )
%>
<!-- <head>
  <meta charset='UTF-8' />
  <title>All title elements | as appended using the 'title' call | in reverse order</title>
</head> -->


<div style="float: right; padding-right: 15%; padding-top: 15%; font-family: Helvetica, Arial, Sans-Serif; letter-spacing: 2.5px; font-size: 250%; font-weight: 100; color: #4f4f4f;">
  <div>
    <span style="background-color: rgba(191,191,191, 0.2); padding: 1px;">
      <%= @selected_trip.destination.downcase %>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span style="background-color: rgba(191,191,191, 0.2); padding: 1px;">
      <%= "#{@selected_trip.temperature}&deg;F" %>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span style="background-color: rgba(191,191,191, 0.2); padding: 1px;">
      <%= "$#{@selected_trip.price}" %>
    </span>
    <span style="background-color: rgba(191,191,191, 0.2); padding: 1px;">
      <%= @selected_trip.departure_month.downcase %> <%= @selected_trip.departure_day %>-<%= @selected_trip.arrival_day %>
    </span>
  </div>
</div>

<footer style="position: absolute; bottom: 25; padding-left: 5%; font-family: Helvetica, Arial, Sans-Serif; letter-spacing: 1.25px; font-size: 200%; font-weight: 100;">
  <a href="/about" style="text-decoration: none;"><span style="color: #4f4f4f; !important;" >about</span></a>
  <a href="/contact" style="padding-left: 50px; text-decoration: none;"><span style="color: #4f4f4f; !important;">contact</span></a>
</footer>