<%
  @selected_trip = OpenStruct.new(
    destination: 'Saint Thomas',
    temperature: 85,
    price: 324,
    departure_month: 'December',
    departure_day: 13,
    arrival_day: 17
  )
%>

<div>
  <%= @selected_trip.destination.downcase %><br>
  <%= "#{@selected_trip.temperature}&deg;F" %><br>
  <span>
    <%= "$#{@selected_trip.price}" %>
    </span>
    <span>
      <%= @selected_trip.departure_month %> <%= @selected_trip.departure_day %>-<%= @selected_trip.arrival_day %>
    </span>
</div>

<footer>
  <a href="/about">about</a><br>
  <a href="/contact">contact</a>
</footer>